<div class="row">
  <div class="col-8">
    <h2>Welcome to your dashboard {{name}}!</h2>
  </div>
  <div class="col-4">
    <a href='/Create' id="btn-create-blog">
      <button type="button" class="btn btn-lg btn-success">Create a new blog entry</button>
    </a>
  </div>
</div>

{{#if blogs.length}}
<div class="col-auto blog-list">
  <h3>Current Blogs:</h3>

  {{#each blogs as |blog|}}
  <div class="row row-cols-2 mb-2 dashboard-blog">
    <div class="col-8">
      <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
    </div>
    <div class="col-md-2 col-xs-2 btn-update">
      <button class="btn btn-sm btn-warning" data-id="{{blog.id}}">UPDATE</button>
    </div>
    <div class="col-md-2 col-xs-2 btn-delete">
      <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="col-md-12 mt-3 btn-delete btn-update">
  <h4>You don't have any blogs created at this time. Now is a great time to create one!</h4>
</div>
{{/if}}
</div>

<script src="./js/dashboard.js"></script>